services:
  backend:
    build: ./backend
    container_name: vision-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: vision-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
